body {
    font-family: 'Montserrat', sans-serif;
}
img{
    width: 5%;
    height: 50%;
}
.portada {
    width: 100%;
    height: 400px;
}
.portada img{
    width: 100%;
    height: 100%;
}
.formulario2 {
    text-align: left;
    border-bottom: 2px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
}
.formulario2radio{
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 2px solid black;
}
.formulario2radio input {
    width: 5%;
    box-shadow: 0px 0px 0px;
}
/*Estilo del header, usamos flex para distribuir los elementos*/
header {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(157, 157, 157));
    position: sticky;
    top: 0;
}

header > h1 {
    width: 10%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black, 0 0px 25px #74ebd5, 0 0 5px #9face6;
}


header > form {
    width: 6%;
}

form > input {
    width: 100%;
}


header > nav {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > a {
    text-decoration: none;
    color: black;
    background-color: rgb(231, 231, 231);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 0.6cm;
    box-shadow: 0 0 4px 1px;
}

form > input {
    padding-top: 5%;
    padding-bottom: 5%;  
    padding-left: 50%;
    padding-right: 50%;
    border-radius: 0.6cm;
    box-shadow: 0px 0px 4px;  
}

.politica {
    padding-top: 2%;
    padding-bottom: 2%;
}
main {
    border-radius:1cm;
    background: linear-gradient(25deg, rgb(223, 252, 175), rgb(96, 235, 221), rgb(51, 152, 214));
}
.superior{
    width: 100%;
    text-align: center;
}
h1{
    width: 74%;
    display: inline-block;
}
.cerrar{
    font-size: 70%;
    width: 13%;
    text-align: center;
    display: inline-block;
    background-color: rgb(149, 254, 219);
    border: 2px black solid;
    border-radius:10cm;
    box-shadow: 0px 2px 2px;
}
.izquierdamedio{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 2px black solid;
}
.izquierdamedio img{
    width: 30%;
    height: 50%;
}

.izquierdamedio h1{
    text-align: center;
}
h2 {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    height: 50%;
}
h2 a {
    text-decoration: none;
    color: black;
}
.izquierdamedio h2{
    font-size: 100%;
}
.derechamedio{
    margin-left: 5%;
    width: 69%;
    height: 100%;
    vertical-align: top;
}

.medio{
    display: flex;
}

.derechamedio h1{
    border-bottom: 2px solid black;
}
.editar1{
    width: 40%;
    display: inline-block;
}
.editar2{
    width: 40%;
    display: inline-block;
}
input{
    width: 60%;
    box-shadow: 0px 2px 2px;
}
.inferior{
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
}
.inferiorizquierdo {
    padding-left: 3%;
    border-radius:0.9em;
    width: 40%;
    background: linear-gradient(25deg, rgb(223, 252, 175), rgb(96, 235, 221), rgb(51, 152, 214));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 1%;
}
.inferiorizquierdo h1{
    border-bottom: 2px solid black;
    width: 100%;
}
.inferiorderecho {
    padding-left: 3%;
    border-radius:0.9em;
    width: 40%;
    background: linear-gradient(25deg, rgb(223, 252, 175), rgb(96, 235, 221), rgb(51, 152, 214));
    padding-bottom: 1%;
}
.inferiorderecho h1{
    border-bottom: 2px solid black;
    width: 100%;
}
.inferiorderecho img{
    width: 15%;
    height: 30%;
    border: 2px solid black;
}
.inferiorderecho label{
    width: 50%;
    padding-left: 3%;
}
.inferiorizquierdo a{
    width: 70%;
}
.inferiorderechoabajo {
    display: flex;
    text-align: left;
}
.inferiorderechoabajo a{
    padding-left: 3%;
}
.inferiorderechoabajo label{
    width: 100%;
}
.derechacerrar {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    margin-bottom: 3%;
}
@media screen and (max-width: 1250px) and (min-width:501px){
    .div-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 30px;
        justify-items: center;
    }
   
    .div-container > h3 {
        grid-column: 1/5;
    }
 
    form > input {
        display: none;
    }
 
    .responsive-img {
        display: none;
    }
 
    .article-imagenes img {
        width: 100%;
        object-fit: cover;
    }
 
    header > img {
        width: 100px;
        height: 100px;
    }
 
 
}
@media screen and (max-width: 900px) {
    .inferior{
        display: flex;
        flex-direction: column;
    }
    .inferiorizquierdo {
        margin-top: 1%;
        width: 100%;
    }
    .inferiorderecho {
        margin-top: 2%;
        width: 100%;
    }
    h1 {
        font-size: 100%;
    }
    .superior h2{
        font-size: 15px;
    }
    .izquierdamedio img {
        width: 50%;
    }
    .superior .cerrar {
        width: 20%;
    }
    .derechacerrar .cerrar {
        width: 30%;
    }
    header > img {
        width: 100px;
        height: 100px;
    }
  }

  @media screen and (max-width: 600px) {
    .medio {
        display: flex;
        flex-direction: column;
    }
    .izquierdamedio {
        width: 100%;
        border-right: 0px;
    }
    .derechamedio {
        width: 100%;
    }
    .superior h1 {
        text-align: left;
    }
    .editar1 {
        width: 100%;
    }
    .editar2 {
        margin-top: 4%;
        width: 100%;
    }
    .derechacerrar .cerrar {
        margin-right: 4%;
    }
    header > img {
        display: none;
    }
    form > input {
        display: none;
    }
  }