body,html{
    width: 100%;
    font-family: "Montserrat", sans-serif;
}
#header{
    width: 100%;
}

#ImagenEvento{
    width: 100%;
    text-align: center;
}

/*Imagen del evento*/
#evento{
    width: 85%;
    margin-top: 15px;
}

/*_____________________________________________*/

/*Párrafos de información del evento*/
#parrafos{
    vertical-align: top;
    width: 59%;
    margin-left: 6.5%;
    display: inline-block;
}

h3{
    width: 100%;
}

#compra{
   margin-right: 12px;
   width: 30%;
   display: inline-block;
   text-align: right;
   height: 100%;
   vertical-align: bottom;
   margin-bottom: 50px;
}

footer{
    display: inline-block;
}
/*Subrallado y negrita*/
.negrita{
    font-weight: 700;
    text-align: justify;
    text-decoration-line: underline;
}

/*Botones grises*/
.boton1{
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgb(215, 204, 204);
    font-size: larger;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(158, 154, 154);
}

#ACERCA-DEL-ORGANIZADOR{
    width: 100%;
    display: inline-block;
}

#a{
    display: inline-block;
    width: 50%;
}

#Bloque2{
    display: inline-block;
}
.boton2{
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    background-color: #FFC52F;
    font-size: larger;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(158, 154, 154);
    font-size: smaller;
    height: 40px;
}
#report{
    width: 30px;
    height: 30px;
    margin-top: 10px;

}
h6{
    margin: 0;
    vertical-align: top;
}

#IS{
    text-decoration-line: underline;
}