* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
}



/*Estilo del header, usamos flex para distribuir los elementos*/
header {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    position: sticky;
    top: 0;
    z-index: 2;
}


header > h1 {
    width: 10%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black, 0 0px 25px #74ebd5, 0 0 5px #9face6;
}


header > form {
    width: 15%;
}


header > img {
    width: 100px;
    height: 100px;
}


input[type=text] {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}


form > input {
    width: 100%;
}


header > nav {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav > a {
    text-decoration: none;
    color: black;
    background: rgb(148,236,201);
    background: linear-gradient(45deg, rgba(148,236,201,0.8687850140056023) 7%, rgba(115,209,202,0.6194852941176471) 47%, rgba(34,155,201,0.8211659663865546) 77%, rgba(0,212,255,0.8127626050420168) 95%);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 0.6cm;
    box-shadow: 0 0 4px 1px;
    width: 10rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;   
}

nav > a:hover {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    color: #182848;
    transition: all 0.5s ease;
}


form > input {
    padding-top: 10%;
    padding-bottom: 10%;  
    padding-left: 50%;
    padding-right: 50%;
    border-radius: 0.6cm;
    box-shadow: 0px 0px 4px;  
}


main {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}


/*Para hacer el slider de las imagenes he seguido el siguiente tutorial: https://www.youtube.com/watch?v=McPdzhLRzCg*/
.article-imagenes {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 38rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 7px 10px 15px gray;
    border-radius: 15px;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    /*column-gap: 1rem;*/
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-left: 20px;
    background-color: antiquewhite;
    opacity: 0.8;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}



footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, 16.6%);
    justify-items: center;
    padding: 10px;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

footer > p {
    grid-column: 1/3;
    grid-row: 6/7;
    color: white;
    font-size: 0.8em;
}

footer a {
    padding: 10px;
    text-decoration: none;
    color: white;
}


.article-texto h2 {
    padding-top: 50px;
    text-align: center;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    /*background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);*/
    color: #182848;
    box-shadow: -20px 2px 10px gray;
}

.article-texto  p {
    padding: 50px;
    line-height: 1.6;
    text-align:center;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    color: #182848;
}   

.article-texto h3 {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #182848;
}

.texto {
    height: 50%;
    color: #182848;
}

.div-container {
    display: flex;
    justify-content: space-around;
    align-items:center;
    /*column-gap: 50px;*/
    height: 50%;
    padding: 50px;
}

.redondita {
    background-color: lightblue;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(148,236,201);
    background: linear-gradient(45deg, rgba(148,236,201,0.8687850140056023) 7%, rgba(115,209,202,0.6194852941176471) 47%, rgba(34,155,201,0.8211659663865546) 77%, rgba(0,212,255,0.8127626050420168) 95%);
    border: 1px solid rgb(117, 179, 174);
    box-shadow: 5px 6px 5px gray;
    color: #182848;
}

.redondita:hover {
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    transition: all 1s;
    cursor: pointer;
}

.redondita a {
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 1250px) and (min-width:651px){
    .div-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 30px;
        justify-items: center;
    }
    
    .div-container > h3 {
        grid-column: 1/5;
    }

    input[type=text] {
        display: none;
    }

    /*
    header > h1, header > nav {
        flex-grow: 1;
    }*/

    header > h1 {
        width: 25%;
    }

    header > nav {
        width: 60%;
    }

}


@media screen and (max-width: 650px){
    
    header img {
        height: 90px;
        width: 90px;
    }
    
    h1 {
        display:none;
    }


    .div-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        justify-items: center;
    }

    
    .div-container > h3 {
        grid-column: 1/3;
    }


    input[type=text] {
        display: none;
    }


    header {
        display: flex;
        flex-direction: column;
        height: 140px;
    }

    header > nav {
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        width: 100%;
        padding-bottom: 10px;
    }


}