* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    height: 100%;
}


/*Estilo del header, usamos flex para distribuir los elementos*/
header {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    position: sticky;
    top: 0;
    z-index: 2;
}

header > h1 {
    width: 10%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px black, 0 0px 25px #74ebd5, 0 0 5px #9face6;
}

header > form {
    width: 15%;
}

header > img {
    width: 100px;
    height: 100px;
}

input[type=text] {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}


form > input {
    width: 100%;
}


header > nav {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > a {
    text-decoration: none;
    color: black;
    background: rgb(148,236,201);
    background: linear-gradient(45deg, rgba(148,236,201,0.8687850140056023) 7%, rgba(115,209,202,0.6194852941176471) 47%, rgba(34,155,201,0.8211659663865546) 77%, rgba(0,212,255,0.8127626050420168) 95%);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 0.6cm;
    box-shadow: 0 0 4px 1px;
    width: 10rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;   
}

nav > a:hover {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    color: #182848;
    transition: all 0.5s ease;
}


form > input {
    padding-top: 10%;
    padding-bottom: 10%;  
    padding-left: 50%;
    padding-right: 50%;
    border-radius: 0.6cm;
    box-shadow: 0px 0px 4px;  
}



input[type=text], input[type=password] {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}


main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    row-gap: 20px;
}


.register-form {
    margin-top: 60px;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    width: 50%;
    height: 65%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 8px 8px 10px gray;
}



form {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 1em;
}


input[type=submit] {
    width: 140px;
    padding: 12px;
    border-radius: 5px;
    align-self: center;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    color: #e3ffe7;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}


.register-form > h2 {
    color: #182848;
}


.register-form > p {
    align-self: center;
    color: #182848;
}


.margin-top {
    margin-top: 30px;
}


input[type=submit]:hover {
    cursor: pointer;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    color: #182848;
    transition: all 0.5s ease;
}


footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(6, 16.6%);
    justify-items: center;
    padding: 10px;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

footer > p {
    grid-column: 1/3;
    grid-row: 6/7;
    color: white;
    font-size: 0.8em;
}

footer a {
    padding: 10px;
    text-decoration: none;
    color: white;
}